* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
   background-color: aliceblue;
    
    
}
.yaya{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 80% auto;
    width: 100%;
    height: 100vh;

}
.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20px;
    
    
}







.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#bff1ee88;
    width: 100%;
    height: 100px;
   
}
.container-header div img{
    width: 100%;
    height: 80px;
}
.navbar{
  display: flex;
  list-style: none;
  column-gap: 30px;
  margin-top: 30px;
  justify-content: space-between;

}
nav{
    width: 80%;
    justify-self: center;
    align-self: center;
}

.navbar li a{
    color:black;
    list-style: none;
}
.container-login{
    margin-top: 10px;
}
.container-login a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: solid 1px black;
    font-size: 2rem;

}


a {
    color: black;
    font-size: 3rem;
    font-family: 'Staatliches', cursive;

}
/* fuentes: font-family: 'Albert Sans', sans-serif; PARAFFO
            font-family: 'Staatliches', cursive; TITULOS
*/

/* funete de color
 9D6046 46% de transpariencia*/


 .main-footer{
    height: 1000px;
 }

 

  .section-card{
    margin-top: 100px;
    margin-bottom: 100PX;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center; 
 }
   
    

.card{
    width: 300px;
    height: 400px;
    background-color: rgb(236, 115, 115);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    margin-top: 100px;
   
   

}

.card img{
    width: 300px;
    object-fit: contain;

}

.card img{
    grid-column: 1 / 6;
    grid-row: 1/2;
}

.card h2{
    grid-column: 2/4;
    grid-row: 2/2;
    color: white;
    
}
.card a{
    grid-column: 1/3;
    grid-row: 4/4;
    
}
.card p{
    grid-column: 3/4;
    grid-row: 4/4;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.card div{
    grid-column: 1 /6;
    grid-row: 4/6;
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.yaya section img{
    width: 500px;
    
    
} 

 .titulos{
    color: black;
    font-size: 10rem;
    font-family: 'Staatliches', cursive;
    margin: 3rem;
 }   

p {
    color: black;
    font-size: 2.5rem;
    font-family: 'Albert Sans', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    
    
}
.form input{
    width: 30%;
    height: 70px;
    margin-top: 50px;
    font-size: 2.5rem;
   
}




.footer-redes{
    display: flex;
    flex-direction: row-reverse;
    gap: 40PX;
    padding: 10px;
    padding-right: 30px;

}
footer{
    background-color: #bff1ee88;
    
}


@media (max-width:768px){
    header div {
        justify-self: center;
    }
    header{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .container-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color:#bff1ee88;
      
    }
}


    



@media (max-width:320px){
    .navbar{
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        gap: 10px;
    }
    
    .section-card{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}
@media (max-width:1250px){
    .section-card{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
    }
}
@media (max-width:942px){
    .section-card{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
    }
    .titulos{
        font-size: 4rem;
        justify-self: center;
    }
}


@media (max-width:768px){
    .section-card{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
    }
}

