* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

a {
  color: black;
  font-size: 3rem;
  font-family: 'Staatliches', cursive; }

p {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
  margin: 10px;
  padding: 20px; }

.titulos {
  color: black;
  font-size: 10rem;
  font-family: 'Staatliches', cursive;
  margin: 3rem; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(168, 118, 27, 0.558);
  width: 100%;
  height: 100px; }
  header nav {
    width: 80%;
    justify-self: center;
    align-self: center; }
  header div img {
    width: 100%;
    height: 100px; }

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between; }
  .navbar li {
    list-style: none; }
    .navbar li a {
      color: black;
      text-decoration: none;
      font-size: 3rem;
      font-family: 'Staatliches', cursive; }
      .navbar li a:hover {
        color: gray; }

.container-login {
  margin-top: 10px; }
  .container-login a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: solid 1px black;
    font-family: 'Staatliches', cursive;
    font-size: 2rem; }

.section-1 {
  width: 100%; }
  .section-1 h1 {
    text-align: center; }

.imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  padding-top: 60px; }

.section-tipos {
  display: flex;
  flex-direction: column; }
  .section-tipos h2 {
    font-size: 6rem;
    font-family: 'Staatliches', cursive;
    color: gray;
    margin: 10px;
    margin-top: 20px;
    text-align: center; }
  .section-tipos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-tipos div img {
      width: 40%;
      height: 400px; }
    .section-tipos div p {
      color: black;
      text-align: center; }

.section-card {
  margin-top: 100px;
  margin-bottom: 100PX;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center; }
  .section-card .card {
    width: 300px;
    height: 400px;
    background-color: #ec7373;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 60px; }
    .section-card .card img {
      width: 300px;
      object-fit: contain;
      grid-column: 1 / 6;
      grid-row: 1/2; }
    .section-card .card h2 {
      grid-column: 2/4;
      grid-row: 2/2;
      color: white; }
    .section-card .card div {
      grid-column: 1 /6;
      grid-row: 4/6;
      justify-self: center;
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      .section-card .card div a {
        padding-top: 10%; }
      .section-card .card div p {
        padding-bottom: 50px; }

.imagen-nosotros {
  margin: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 400px; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  width: 100%;
  height: 400PX;
  background-color: gray; }
  .form input {
    width: 30%;
    height: 60px;
    margin-top: 50px;
    font-size: 2.5rem; }

footer {
  background-color: #17847ca1;
  margin-top: auto; }
  footer .footer-redes {
    display: flex;
    flex-direction: row-reverse;
    gap: 40PX;
    padding: 10px;
    padding-right: 30px; }

@media (max-width: 1250px) {
  .section-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }

@media (max-width: 942px) {
  .section-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }

@media (max-width: 850px) {
  a {
    font-size: 2rem; } }

@media (max-width: 606px) {
  a {
    font-size: 15px; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: center; } }

@media (max-width: 1024px) {
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%; } }

@media (max-width: 768px) {
  .section-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .titulos {
    flex-direction: column;
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    height: 100px; }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%; }
  .imagen-nosotros {
    width: 100%;
    height: 300px;
    margin: 2px;
    margin-bottom: 10px; }
  a {
    font-size: 18px; }
  .section-tipos div img {
    height: 300px;
    width: 60%; }
  p {
    font-size: 2rem;
    text-align: center; }
  .navbar {
    text-align: center;
    display: flex;
    list-style: none;
    column-gap: 20px;
    margin-top: 3px;
    justify-content: space-evenly; }
  .form input {
    width: 80%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem; }
  header div {
    justify-self: center; }
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #bff1ee88;
    width: 100%;
    height: 100%; } }

@media (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    column-gap: 2px;
    margin-top: 2px;
    justify-content: space-between;
    height: 300px; }
  a {
    font-size: 30px; }
  header {
    width: 100%;
    height: 100%; }
  .container-login {
    text-align: center; }
  .section-tipos div img {
    height: 100px;
    width: 50%; }
  p {
    font-size: 2rem;
    padding: 2rem;
    text-align: center; }
  .titulos {
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
    font-size: 5rem;
    margin: 1px; }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; } }

@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    column-gap: 2px;
    margin-top: 2px;
    justify-content: space-between;
    height: 300px; }
  .imagenes {
    display: none;
    padding: 0; }
  a {
    font-size: 20px; }
  .section-tipos h2 {
    font-size: 4rem; }
  .section-tipos div img {
    height: 100px;
    width: 50%; }
  header {
    width: 100%;
    height: 100%; }
  .container-login {
    text-align: center; }
  p {
    font-size: 2rem;
    padding: 2rem;
    text-align: center; }
  .titulos {
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
    font-size: 3rem;
    margin: 1px; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; } }

@media (max-width: 375px) {
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%; } }

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 30px; }
  .boton button {
    width: 15%;
    height: 50px;
    font-size: 2rem; }
