* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

a {
  color: black;
  font-size: 3rem;
  font-family: 'Staatliches', cursive;
  text-decoration: none; }

p {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
  margin: 10px;
  padding: 20px; }

.titulos {
  color: black;
  font-size: 10rem;
  font-family: 'Staatliches', cursive;
  margin: 1rem; }

nav #toggle, nav label {
  display: none; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(168, 118, 27, 0.558);
  width: 100%;
  height: 100px; }
  header nav {
    width: 50%;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    padding: 1rem;
    margin: 0 auto; }
  header div img {
    width: 100%;
    height: 8rem; }

.navbar {
  display: flex;
  flex-direction: row;
  display: flex;
  list-style: none;
  justify-content: space-between; }
  .navbar li {
    list-style: none; }
    .navbar li a {
      color: black;
      text-decoration: none;
      font-size: 3rem;
      font-family: 'Staatliches', cursive; }
      .navbar li a:hover {
        color: gray; }

.container-login {
  margin-top: 20px; }
  .container-login a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: solid 1px black;
    font-family: 'Staatliches', cursive;
    font-size: 2rem; }

.section-1 {
  width: 100%;
  background-image: url("../../assets/img/"); }
  .section-1 h1 {
    text-align: center;
    text-decoration: none;
    background-color: rgba(168, 118, 27, 0.558);
    padding: 0%;
    margin: 0%; }

.imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px; }

.section-tipos {
  display: flex;
  flex-direction: column; }
  .section-tipos h2 {
    font-size: 6rem;
    font-family: 'Staatliches', cursive;
    color: black;
    margin: 10px;
    margin-top: 20px;
    text-align: center; }
  .section-tipos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-tipos div img {
      width: 40%;
      height: 500px; }
    .section-tipos div p {
      color: black;
      text-align: center; }

.section-card {
  margin-top: 100px;
  margin-bottom: 100PX;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center; }
  .section-card .card {
    width: 300px;
    height: 400px;
    background-color: rgba(172, 255, 47, 0.56);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 60px; }
    .section-card .card img {
      width: 300px;
      object-fit: contain;
      grid-column: 1 / 6;
      grid-row: 1/2; }
    .section-card .card h2 {
      grid-column: 2/5;
      grid-row: 2/2;
      color: black;
      font-size: 1.5rem; }
    .section-card .card div {
      grid-column: 1 /6;
      grid-row: 4/6;
      justify-self: center;
      align-self: center;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-evenly; }
      .section-card .card div a {
        font-size: 2.5rem;
        padding-top: 10%;
        text-decoration: none; }
        .section-card .card div a:hover {
          color: gray; }
      .section-card .card div p {
        padding-bottom: 50px;
        color: black;
        font-size: 2.5rem; }

.conteiner-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 3px;
  width: 40%;
  height: 500PX;
  background-color: rgba(128, 128, 128, 0.711); }
  .form input {
    width: 60%;
    height: 50px;
    margin-top: 50px;
    font-size: 2rem;
    border: solid black 1px; }

.comentario {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .comentario textarea {
    margin-top: 50px;
    width: 60%;
    resize: none; }

.imagen-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-bottom: 2rem; }
  .imagen-nosotros img {
    width: 50%; }

.conteiner-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 3px;
  width: 40%;
  height: 500PX;
  background-color: #dacece; }
  .form input {
    width: 60%;
    height: 50px;
    margin-top: 50px;
    font-size: 2rem;
    border: solid black 1px; }

footer {
  background-color: rgba(168, 118, 27, 0.558);
  margin-top: auto; }
  footer .footer-redes {
    display: flex;
    flex-direction: row-reverse;
    gap: 40PX;
    padding: 10px;
    padding-right: 30px; }

@media (max-width: 1250px) {
  .section-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }

@media (max-width: 942px) {
  .section-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }

@media (max-width: 850px) {
  a {
    font-size: 2rem; } }

@media (max-width: 606px) {
  a {
    font-size: 15px; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: center; } }

@media (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(168, 118, 27, 0.558);
    width: 100%;
    height: 100px; }
    header nav {
      width: 70%;
      align-self: center;
      margin-top: 10px; }
  .navbar {
    display: flex;
    flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: space-between; }
  .conteiner-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .form {
    width: 60%; }
    .form input {
      width: 80%;
      height: 50px; }
  textarea {
    margin-top: 50px;
    width: 80%;
    resize: none; } }

@media (max-width: 768px) {
  .section-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .titulos {
    flex-direction: column;
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    height: 100px; }
  a {
    font-size: 18px; }
  header nav {
    width: 70%; }
  .section-tipos div img {
    height: 300px;
    width: 60%; }
  p {
    font-size: 2rem;
    text-align: center; }
  .imagenes .carousel {
    width: 100%;
    height: 50rem; }
  .imagenes .w-100 {
    width: 100%;
    height: 50rem; }
  .form {
    width: 60%; }
    .form input {
      width: 80%;
      height: 50px; }
  .comentario {
    width: 100%; }
    .comentario textarea {
      margin-top: 50px;
      width: 80%;
      resize: none; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; } }

@media (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    column-gap: 2px;
    margin-top: 2px;
    justify-content: space-between;
    height: 300px; }
  a {
    font-size: 30px; }
  .section-tipos h2 {
    font-size: 4rem; }
  header {
    width: 100%;
    height: 100%; }
  .container-login {
    text-align: center; }
  .section-tipos div img {
    height: 200px;
    width: 80%; }
  p {
    font-size: 2rem;
    padding: 2rem;
    text-align: center; }
  .titulos {
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
    font-size: 5rem;
    margin: 1px; }
  .imagenes .carousel {
    width: 100%;
    height: 25rem; }
  .imagenes .w-100 {
    width: 100%;
    height: 25rem; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .form {
    width: 100%; }
    .form input {
      width: 90%;
      height: 50px; }
    .form .boton {
      width: 100%;
      margin-top: 50px; }
      .form .boton button {
        width: 25%;
        height: 50px;
        font-size: 2rem;
        margin-bottom: 1rem; }
    .form .comentario {
      width: 100%; }
      .form .comentario textarea {
        margin-top: 50px;
        width: 90%;
        resize: none; }
  .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0; } }

@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    column-gap: 2px;
    margin-top: 2px;
    justify-content: space-between;
    height: 300px; }
  .section-tipos {
    width: 100%; }
  img {
    width: 100%; }
  .imagenes .carousel {
    width: 100%;
    height: 25rem; }
  .imagenes .w-100 {
    width: 100%;
    height: 25rem; }
  a {
    font-size: 20px; }
  .section-tipos h2 {
    font-size: 4rem; }
  .section-tipos div img {
    height: 150px;
    width: 80%; }
  header {
    width: 100%;
    height: 100%; }
  .container-login {
    text-align: center; }
  p {
    font-size: 2rem;
    padding: 2rem;
    text-align: center; }
  .titulos {
    flex-direction: column;
    justify-self: center;
    font-size: 4rem;
    margin: 1px;
    margin-top: 2rem; }
  .section-card {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .form {
    width: 100%; }
    .form input {
      width: 90%;
      height: 50px; }
    .form .boton {
      width: 100%;
      margin-top: 50px; }
      .form .boton button {
        width: 25%;
        height: 50px;
        font-size: 2rem;
        margin-bottom: 1rem; }
    .form .comentario {
      width: 100%; }
      .form .comentario textarea {
        margin-top: 50px;
        width: 90%;
        resize: none; }
  .imagen-nosotros img {
    width: 90%; } }

@media (max-width: 375px) {
  .imagenes .carousel {
    width: 100%;
    height: 25rem; }
  .imagenes .w-100 {
    width: 100%;
    height: 25rem; }
  .section-tipos h2 {
    font-size: 4rem; }
  .section-tipos div img {
    height: 150px;
    width: 80%; }
  .form {
    width: 100%; }
    .form input {
      width: 90%;
      height: 50px; }
    .form .boton {
      width: 100%;
      margin-top: 50px; }
      .form .boton button {
        width: 25%;
        height: 50px;
        font-size: 2rem;
        margin-bottom: 1rem; }
    .form .comentario {
      width: 100%; }
      .form .comentario textarea {
        margin-top: 50px;
        width: 90%;
        resize: none; } }

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px; }
  .boton button {
    width: 15%;
    height: 50px;
    font-size: 2rem;
    margin-bottom: 2rem; }

.imagenes {
  display: flex;
  flex-direction: column;
  width: 100%; }

.carousel-control-next-icon {
  width: 5rem;
  height: 5rem; }

.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem; }

.carousel {
  width: 100%;
  height: 70rem; }

.w-100 {
  width: 100%;
  height: 70rem; }
