@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import "./base/generales";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/main-productos";
@import "./layout/main-contacto";
@import "./layout/main-nosotros";
@import "./layout/registrarse";
@import "./layout/footer";
@import "./layout/media/media-otras";
@import "./layout/media/media-1024";
@import "./layout/media/media-768";
@import "./layout/media/media-425";
@import "./layout/media/media-320";
@import "./layout/media/media-375";
@import "./components/botones";