@media (max-width:320px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        column-gap: 2px;
        margin-top: 2px;
        justify-content: space-between;
        height: 300px;
    }

    
    a{
        font-size: 20px;
    }

    .section-tipos h2{
        font-size: 4rem;
    }

    .section-tipos div img{
        height: 100px;
        width: 50%;
    }

    header{
        width: 100%;
        height: 100%;
    }

    .container-login{
       text-align: center;
    }



    p{
        font-size: 15px;
        padding: 2rem;
        text-align: center;
    }

    .titulos{
        flex-direction: column;
        /* align-items: center; */
        justify-self: center;
        font-size: 3rem;
        margin: 1px;
    }

    .section-card{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }    


    
}