@media (max-width:425px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        column-gap: 2px;
        margin-top: 2px;
        justify-content: space-between;
        height: 300px;
    }

    
    a{
        font-size: 30px;
    }

    .section-tipos{
        h2{
            font-size: 4rem;
    }
    }

    header{
        width: 100%;
        height: 100%;
    }

    .container-login{
       text-align: center;
    }


    .section-tipos div img{
        height: 200px;
        width: 80%;
    }
    p{
        font-size: 2rem;
        padding: 2rem;
        text-align: center;
    }

    .titulos{
        flex-direction: column;
        /* align-items: center; */
        justify-self: center;
        font-size: 5rem;
        margin: 1px;
    }

        
    .imagenes{
        .carousel{
            width: 100%;
            height: 25rem;
           
        }
        .w-100 {
            width:100%;
            height: 25rem;
        }    
    }
    .imagen-nosotros{
        img{
            width: 90%;
        }
    }
    

    .section-card{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .form{
        width: 100%;
        
        input{
            width: 90%;
            height: 50px;
        }


        .boton{
            width: 100%;
            margin-top: 50px;
        

            button{
                width: 25%;
                height: 50px;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        .comentario{
            width: 100%;
             textarea{
                margin-top: 50px;
                width: 90%;
                resize: none;
             }
             }
    }
    .menu ul{
    
        flex-direction: column;

        align-items: center;

        justify-content: space-between;

        padding: 0.5rem 0;
  }


}