@media (max-width:768px){

    .section-card{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
    }

    .titulos{
        flex-direction: column;
        justify-self: center;
        text-align: center;
        font-size: 6rem;
        height: 100px;

    }

    .imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0%;
        
    }
    .imagen-nosotros{
        width: 100%;
        height: 300px;
        margin: 2px;
        margin-bottom: 10px;
    }

    a{
        font-size: 18px;
    }

    .section-tipos div img{
        height: 300px;
        width: 60%;
    }
     
    
   
    p{
        font-size: 2rem;
        text-align: center;
    }

    .navbar{

    text-align: center;
    display: flex;
    list-style: none;
    column-gap: 20px;
    margin-top: 3px;
    justify-content: space-evenly;

    }
    

    

    .form input{
        width: 80%;
        height: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 1.5rem;

    }

     header div {
            justify-self: center;
        }
     header{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }
    header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color:#bff1ee88;
            width: 100%;
            height: 100%;
    
        }
    
 }