@media (max-width:375px){
    .imagenes{
        .carousel{
            width: 100%;
            height: 25rem;
           
        }
        .w-100 {
            width:100%;
            height: 25rem;
        }    
    }
    .section-tipos{
        h2{
            font-size: 4rem;
    }
    }
    .section-tipos div img{
        height: 150px;
        width: 80%;
    }


    .form{
        width: 100%;
        
        input{
            width: 90%;
            height: 50px;
        }


        .boton{
            width: 100%;
            margin-top: 50px;
        

            button{
                width: 25%;
                height: 50px;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        .comentario{
            width: 100%;
             textarea{
                margin-top: 50px;
                width: 90%;
                resize: none;
             }
             }
    }
    
  }

    