footer{
    background-color:$background-principal;
    margin-top: auto;
    .footer-redes{
        display: flex;
    flex-direction: row-reverse;
    gap: 40PX;
    padding: 10px;
    padding-right: 30px;
    }
}
    