
nav #toggle, nav label{

    display: none;

}


 header{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
     background-color:$background-principal;
      width: 100%;
     height: 100px;

    nav{
        width: 50%;
         justify-self: center;
         align-self: center;
        margin-top: 10px;
        padding: 1rem;
       margin: 0 auto;
        
    }

    

    div img{
    width: 100%;
    height: 8rem;
    }
 }

 



 .navbar{
    display: flex;
    flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: space-between;
    li{
        list-style: none;
    a{
        color: black;
        text-decoration: none;
        font-size: 3rem;
        font-family: 'Staatliches', cursive;
        &:hover{
            color: gray;
        }
    }
    }
 }
  .container-login{
    margin-top: 20px;
     a{
       margin-right: 20px;
         text-decoration: none;
         color: black;
         padding: 5px;
         border: solid 1px black;
         font-family: 'Staatliches', cursive;
         font-size: 2rem;  
     }
 }
