header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#bff1ee88;
    width: 100%;
    height: 100px;

    nav{
        width: 80%;
        justify-self: center;
        align-self: center;
    }

    div img{
    width: 100%;
    height: 100px;
    }
 }

 .navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    li{
        list-style: none;
    a{
        color: black;
        text-decoration: none;
        font-size: 3rem;
        font-family: 'Staatliches', cursive;
    }
    }
 }

 .container-login{
    margin-top: 10px;
    a{
        margin-right: 20px;
        text-decoration: none;
        color: black;
        padding: 5px;
        border: solid 1px black;
        font-family: 'Staatliches', cursive;
        font-size: 2rem;  
    }
 }
