.section-1{ 
    width: 100%;
    background-image: url("../../assets/img/");
    
    
    h1{
        text-align: center;
        text-decoration: none;
        background-color: $background-principal;
        padding: 0%;
        margin: 0%;
    }
    
}




.imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    
}


.section-tipos{
    display: flex;
    flex-direction: column;
    h2{
        font-size: 6rem;
        font-family: 'Staatliches', cursive;
        color: black;
        margin:10px;
        margin-top: 20px;
        text-align: center;

        
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 40%;
            height: 500px;
        }
        p{
            color: black;
            text-align: center;  
        }
    
    }  
  }