.section-card{
    margin-top: 100px;
    margin-bottom: 100PX;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    .card{
        width: 300px;
        height: 400px;
        background-color: rgba(172, 255, 47, 0.56);
        border-radius: 10px;
        border: 1px solid black;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        margin-top: 60px;

        img{
            width: 300px;
            object-fit: contain;
            grid-column: 1 / 6;
            grid-row: 1/2;
        }
        h2{
            grid-column: 2/5;
            grid-row: 2/2;
            color: black;
            font-size: 1.5rem;
           
        }
        div{
            grid-column: 1 /6;
            grid-row: 4/6;
            justify-self: center;
            align-self: center;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-evenly;
    
        a{
            font-size: 2.5rem;
            padding-top: 10%;
            text-decoration: none;
             &:hover{
                color: gray;
            }
            
            }

         p{
            padding-bottom: 50px;
            color: black;
            font-size: 2.5rem;
            

         }   
        }  
    }

    
}