a {
    color: black;
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
}


p {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    margin: 10px;
    padding: 20px;
}

.titulos{
    color: black;
    font-size: 10rem;
    font-family: 'Staatliches', cursive;
    margin: 3rem;
 }